<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGameDriver" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://nogracias.cloudapp.net/GameDriver.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGameDriver"
                contract="GameDriverService.IGameDriver" name="BasicHttpBinding_IGameDriver" />
        </client>
    </system.serviceModel>
</configuration>